<div class="erro">
    <h1>Gerenciador de Anotações</h1>
    <h2>Encontramos um Problema!!!</h2>
    <p>Não existe uma anotação com ID igual a {{this.id}}.</p>
    <hr>
       <a href="/" class="btn btn-secondary">Voltar</a>
</div>