<div class="container content" id= "container-sobre">
    <h1 class="title">Gerenciador de Anotações</h1>
    <h4>Informações sobre a Aplicação</h4>
    <p><span>Autores:</span> Ana Clara P. Souza e Marcelo P. Souza</p>
    <p><span>Instituição:</span> IF Sudeste MG</p>
    <p><span>Criado em:</span> Semestre 2024/1</p>
    <hr>
</div>
    <a href="/" class="btn btn-secondary">Voltar</a>